.search {
    -webkit-appearance: none;
    border: none;
    outline: none;
    padding: 10px;
    width: 250px;
    line-height: 30px;
    margin-bottom: 30px;
    text-indent: 25px;
}

.icon {
    position: absolute;
    z-index: 1;
    top: 13px;
    left: 5px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconWrapper {
    position: relative;
}